@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* Start writing your CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main Styles */

body{
    background-image: url('../img/patternbackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    font-family: "Jomhuria", serif;
    font-size: 2rem;
  }

#stripedbg{
    background-image:url('../img/stripebackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: #FFC8C1;
    padding: 2%;
}

.header_centered{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90%;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row; 
    width: 30%;
}

nav ul{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: row; 
}

nav ul li{
    background-color: #FF9A6E;
    padding: 7% 8%;
    font-size: 2.2rem;
    box-shadow: 5px 10px #FE7F6E;
    border-radius: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

nav ul li + li {
    margin-left: 15px;
}

.searchicon{
    width: 60px;
    height: 60px;
}

/* Main Style */

section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.horizontallayout{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    position: relative;
    width: 90%;
    flex-direction: row;
    top: 0%;
}

/* Homepage styles */

.logobg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    width: 40%;
    transition: ease-in 3s;
}

/* About Page Styles */

.sidepatterns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    padding: 1%;
    width: 15%;
}

.sidepatterns img{
    width: 125px;
}

#center_about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
    position: relative;
    background-color: #F9B89A;
    border-radius: 15%;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: 80%;
    padding: 3%;
    font-family: "Josefin Sans", sans-serif;
}

#center_about img{
    border-radius: 50%;
    margin: 1%;
}

/* Portfolio Homepage Styles */

.scroll_list,
.scroll_results{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    width: 40%;
    padding: 5%;
}

.scroll_list img,
.scroll_result img{
    width: 100%;
    height: auto;
}

.work_thumbnail,
.work_preview{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    position: relative;
    flex-direction: column;
    background-color: #F9AB89;
    color: #fff;
    padding: 3%;
}

.work_preview p{
    margin: 2% 0%;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
}

.work_preview button{
    background-color: #FF9A6E;
    padding: 3% 5%;
    font-size: 2.2rem;
    box-shadow: 3px 8px #FE7F6E;
    border-radius: 30px;
    color: #fff;
    border: #FF9A6E;
    margin: 2%;
}

.work_preview button a{
    text-decoration: none;
    color: #fff;
}

/* Contact Page Styles */

.sendbutton{
    background-color: #FF9A6E;
    padding: 3% 5%;
    font-size: 2.2rem;
    box-shadow: 3px 8px #FE7F6E;
    border-radius: 30px;
    color: #fff;
    border: #FF9A6E;
    margin: 2%;
}

/* Media Queries */

@media screen and (min-width: 1025px) {
    
}

@media screen and (min-width: 745px) and (max-width: 1024px) {
    
}

@media screen and (min-width: 431px) and (max-width: 744px) {
    
}


@media screen and (min-width: 375px) and (max-width: 430px) {
    
}










